.app-container {
  width: 90%;
  margin: 30px auto;
}

/******************* search bar **********************/
.search-bar {
  max-width: 800px;
  margin: 0px auto;
}

.logo {
  font-size: x-large;
  text-align: center;
  border: 1px solid #cccccc;
  line-height: 65px;
  min-width: 65px;
}

.logo > img {
  height: 65px;
  width: auto;
}

.search-box > input {
  padding: 0 5px;
  width: 100%;
  height: 30px;
  min-width: 100px;
}

.dictionary-button > select {
  height: 30px;
  width: 100%;
  min-width: 65px;
}

.lookup-button {
  line-height: 30px;
  width: 50%;
  font-size: large;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: green;
  color: white;
  cursor: pointer;
  min-width: 35px;
}

.search-bar > .row > div {
  padding: 36px 10px 0px 10px;
}

.search-bar > .row > .logo-container {
  padding-top: 0px;
}

/************************* presentation container **********************/
.presentation-container {
  margin: 20px auto 0px auto;
  max-width: 900px;
}

.word-container {
  padding-left: 5%;
}

.lookup-word {
  font-size: 40px;
  font-weight: bold;
}

.pronounce-text {
  font-weight: bold;
  font-size: large;
  color: rgb(17,50,111);
}

.word-pronounce {
  margin-bottom: 10px;
}

.word-pronounce > span.glyphicon-volume-up {
  font-size: 25px;
  position: relative;
  top: 5px;
  color: red;
  cursor: pointer;
}

/******************* word **********************/
.word-definition {
  font-weight: bold;
  font-size: medium;
  padding-left: 10px;
  margin-top: 10px;
}

.word-category {
  background-color: #234b9a;
  font-weight: bold;
  font-size: medium;
  color: white;
  padding: 0px 5px;
  margin-top: 9px;
}

.word-example {
  padding-left: 30px;
  margin-bottom: 5px;
}

.word-phrase {
  color: #234b9a;
}

/************************* word suggestion ***********************/
.suggestion-container {
  margin-left: 50px;
}

.suggested-word {
  background-color: #eef1f5;
  font-size: medium;
  line-height: 30px;
  margin: 3px 0px;
  padding-left: 15px;
  font-weight: bold;
}

.search-box-container {
  position: relative;
}

.suggest-box {
  position: absolute;
  padding: 10px;
  border: 1px solid #CCCCCC;
  margin-top: 2px;
  width: 350px;
  background-color: #eff1f6;
  z-index: 1;
  display: none;
}
